<ol>
  <% @answers.each do |wordlist| %>
    <li style="margin: 10px;">
      <strong><%= wordlist.name %></strong>
      <br>
      <% Answer.where(question_id: wordlist.id).each do |anw| %>
        <%= radio_button_tag "radio", anw.id, false %>
        <%= label_tag "result",anw.name,class: 'small_label' %>
        <br>
      <% end %>
    </li>
  <% end %>
</ol>
<%= link_to "Save", "", class: "btn btn-primary btn-submit submit-time-out btn-sm"  %>
