<ol>
  <% @answers.each do |wordlist| %>
    <li style="margin: 10px;">
      <strong><%= wordlist.name %></strong>
      <br>
      <% @flag = 0 %>
      <% list_answer_wid(wordlist.id).each do |anw| %>
        <% if Result.find_by(question_id: wordlist.id, user_id: current_user.id).answer_id == anw.id %>
          <%= radio_button_tag wordlist.id, anw.id, true, disabled:true; %>
        <% else %>
          <%= radio_button_tag wordlist.id, anw.id, false, disabled:true; %>
        <% end %>
        <%= label_tag "result",anw.name,class: 'small_label' %>
        <br>

        <% if Result.find_by(question_id: wordlist.id, user_id: current_user.id).choose_user == anw.correct_status && Result.find_by(question_id: wordlist.id, user_id: current_user.id).answer_id == anw.id %>
          <% @flag += 1 %>
        <% end %>
      <% end %>
      <% if @flag == 1 %>
        <p class="label label-primary">Correct answer</p>
      <% else %>
        <p class="label label-danger">Wrong answer</p>
      <% end %>
    </li>
  <% end %>
</ol>