<div class="container">
	<div class="row">
		<div style="text-align: center;">
			<h3><%= name_course params[:id] %></h3>
		</div>
	</div>
	<hr>
	<div class="body">
		<%= render "pages/resultEdit" %>
	</div>
</div>