<div class="container">
	<div class="row">
		<%= link_to "Word new", wordlists_new_path, class:"btn btn-default btn-sm" %>
		<%= link_to "Word learn", wordlists_learn_path, class:"btn btn-default btn-sm" %>
	</div>
</div>