<%= render "wordlists/searchWord" %>
<table class="table table-striped">
<thead>
  <tr>
    <th class="text-center">New word</th>
    <th class="text-center">Translate</th>
  </tr>
</thead>
<tbody>
		<% @list_word_learn.each do |item| %>
    <tr>
      <td class="text-center"><%= item.name %></td>
      <td class="text-center"><%= item.from_translator %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= paginate @list_word_learn, theme:'twitter-bootstrap-3',pagination_class:"pagination-sm pagination-left" %>