<div class="colorlib-classes">
	<div class="container">
	<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
				<h2>Our Classes</h2>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
			</div>
		</div>
		<div class="row usercourses">
		<%= render "usercourses/indexpro" %>
		</div>
	</div>	
	<%= paginate @courses, theme:'twitter-bootstrap-3',pagination_class:"pagination-sm pagination-left" %>
</div>






